<!-- src/main/resources/templates/addBook.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Ouvrage</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
    <h1>Ajouter un ouvrage</h1>
    <form th:action="@{/addBook}" method="POST">
        <p>Ajoutons un ouvrage</p>

        <div>
            <label for="title">Titre:</label>
            <input name="title" id="title" value="">
        </div>
        <div>
            <label for="author">Auteur:</label>
            <input name="author" id="author" value="">
        </div>
        <div>
            <label for="editor">Editeur:</label>
            <input name="editor" id="editor" value="">
        </div>
        <div>
            <label for="pageNb">Nombre de pages:</label>
            <input type="number" name="pageNb" id="pageNb" value="">
        </div>
        <div>
            <label for="state">Etat:</label>

            <select name="state" id="state">
                <option value="">--Please choose an option--</option>
                <option value="Neuf">Neuf</option>
                <option value="Très bon">Très bon</option>
                <option value="Bon">Bon</option>
                <option value="Moyen">Moyen</option>
                <option value="Mauvais">Mauvais</option>
            </select>
        </div>
        <div>
            <label for="price">Prix:</label>
            <input type="number" name="price" id="price" value="">
        </div>
        <div>
            <label for="shippingPrice">Frais de port:</label>
            <input type="number" name="shippingPrice" id="shippingPrice" value="">
        </div>
        <div>
            <label for="categories">Catégorie:</label>
            <select id="categories" name="categories" multiple>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>

        <div>
            <button>Ajouter un ouvrage</button>
        </div>

    </form>

    <form action="/" method="GET">
        <button>Retour à la page d'accueil</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#categories').select2({
                placeholder: "Choisir une catégorie"
            });
        });
    </script>

</body>
</html>
