<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amazon-like</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header th:insert="~{header :: header}"></header>
    <h1>Inscription en tant que Libraire</h1>
    <form th:action="@{/addLibrarian}" method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div>
            <label for="login">Nom:</label>
            <input name="login" id="login" value="">
        </div>
        <div>
            <label for="password">Mot de passe:</label>
            <input name="password" id="password" value="">
        </div>
        <div>
            <label for="name">Nom:</label>
            <input name="name" id="name" value="">
        </div>
        <div>
            <label for="address">Adresse:</label>
            <input name="address" id="address" value="">
        </div>
        <div>
            <label for="mail">Mail:</label>
            <input name="mail" id="mail" value="">
        </div>
        <div>
            <button>S'inscrire</button>
        </div>
    </form>
    <form action="/" method="GET">
        <button>Retour à la page d'accueil</button>
    </form>
</body>
</html>