<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amazon-like</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header th:insert="~{header :: header}"></header>
    <h1>Commande</h1>
    <p id="time">Nous interrogeons votre banque...</p>
    <div id="time2" class="invisible">
        <form th:action="@{/}" method="GET">
            <button type="submit" class="btn btn-primary">Retour à l'accueil</button>
        </form>
    </div>

    <script>
        setTimeout(function() {
            document.getElementById("time").innerHTML = "Votre commande a bien été prise en compte !";
            document.getElementById("time2").classList.remove("invisible");
            localStorage.removeItem("cart");
            majSizeCart();
        }, 3000);
    </script>
</body>
</html>