<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>
<header th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Amazon zero sucres</a>

            <form action="/addBook" method="GET">
                <button>Page d'ajout des ouvrages</button>
            </form>

            <form action="/addClient" method="GET">
                <button>Page d'ajout des clients</button>
            </form>

            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <form action="/logout" method="GET">
                    <button>Se déconnecter</button>
                </form>
            </div>
            <div th:if="${#authorization.expression('!isAuthenticated()')}">
                <form action="/login" method="GET">
                    <button>Se connecter</button>
                </form>
            </div>



        </nav>
    </header>
</header>
</body>
</html>
