<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>
<header th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Amazon zero sucres</a>

            <form action="/addBook" method="GET">
                <button>Page d'ajout des ouvrages</button>
            </form>

            <form action="/addClient" method="GET">
                <button>Page d'ajout des clients</button>
            </form>

            <div class="ml-auto">
                <form th:action="@{/search}" method="POST">
                    <label>
                        <input type="text" name="search" placeholder="Rechercher un ouvrage" th:value="${search}">
                    </label>
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="ml-auto">
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post">
                        <button>Se déconnecter</button>
                    </form>
                </div>
                <div th:if="${#authorization.expression('!isAuthenticated()')}">
                    <form action="/login" method="GET">
                        <button>Se connecter</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</header>
</body>
</html>
