<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Amazon zero sucres</a>

        <div th:if="${#authorization.expression('hasRole(''ROLE_LIBRARIAN'')')}" class="d-flex">
            <form action="/addBook" method="GET" class="me-2">
                <button>Page d'ajout des ouvrages</button>
            </form>
            <form th:action="@{/validateCommand}" method="GET" class="me-2">
                <input type="hidden" name="login" th:value="${#authentication.getPrincipal().Username}">
                <button>Validation des commandes</button>
            </form>
            <form action="/opinion" method="GET">
                <button>Page d'avis</button>
            </form>
        </div>

        <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="d-flex">
            <form action="/validateLibrarian" method="GET" class="me-2">
                <button>Validation des libraires</button>
            </form>
            <form action="/category" method="GET" class="me-2">
                <button>Gestion des catégories</button>
            </form>
            <form action="/recapCommand" method="GET" class="me-2">
                <button>Récap des commandes</button>
            </form>
        </div>

        <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <form action="/addClient" method="GET">
                <button>Page d'inscription</button>
            </form>
        </div>

        <div class="mx-auto">
            <form th:action="@{/search}" method="POST">
                <label>
                    <input type="text" name="search" placeholder="Rechercher un ouvrage" th:value="${search}">
                </label>
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!--        coller complement à gauche avec bootstrap-->
        <div class="d-flex me-3">
            <form th:action="@{/cart}" method="POST" id="formCart" class="me-2" th:if="${#authorization.expression('!isAuthenticated() || !hasRole(''ROLE_LIBRARIAN'')')}">
                <input type="hidden" id="ids" name="ids">
                <button>
                    <span id="cartSize"></span>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </form>
            <div th:if="${#authorization.expression('isAuthenticated()')}" class="d-flex">
                <div th:if="${#authorization.expression('!hasRole(''ROLE_LIBRARIAN'')')}" class="pr-2">
                    <form th:action="@{/account}" method="GET" class="me-2">
                        <button>Mon compte</button>
                    </form>
                </div>
                <form th:action="@{/logout}" method="post" class="me-2">
                    <button>Se déconnecter</button>
                </form>
            </div>
            <div th:if="${#authorization.expression('!isAuthenticated()')}" class="d-flex">
                <form action="/login" method="GET" class="me-2">
                    <button>Se connecter</button>
                </form>
            </div>
        </div>
    </nav>
    <script>
        function majSizeCart() {
            let ids = JSON.parse(localStorage.getItem("cart")) || [];
            document.getElementById("cartSize").innerHTML = ids.length;
            document.getElementById("ids").value = ids;
        }
        majSizeCart();
    </script>
</header>
</body>
</html>
