<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Inscription de libraires en attente de validation :
<table>
    <tr>
        <th>login</th>
        <th>name</th>
        <th>address</th>
        <th>mail</th>
        <th>validate</th>
    </tr>
    <tr th:each="librarian : ${librarians}">
        <td th:text="${librarian.login}"></td>
        <td th:text="${librarian.name}"></td>
        <td th:text="${librarian.address}"></td>
        <td th:text="${librarian.mail}"></td>
        <td>
            <form th:action="@{/validateLibrarian}" method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" name="login" th:value="${librarian.login}"/>
                <button>Valider</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>