<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="affichageBooks">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Editeur</th>
                <th scope="col">Nombre de pages</th>
                <th scope="col">Etat</th>
                <th scope="col">Prix</th>
                <th scope="col">Frais de port</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Note du libraire</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.editor}"></td>
                <td th:text="${book.pageNb}"></td>
                <td th:text="${book.state}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.shippingPrice}"></td>
                <td>
                    <span th:each="category : ${book.categories}" th:text="${category.name} + ' '"></span>
                </td>
                <td>
                    <span th:if="${book.librarian.note} == -1">Pas de note</span>
                    <span th:if="${book.librarian.note} > 0" th:text="${book.librarian.note} + ' / 5'"></span>
                </td>
                <td>
                    <button th:onclick="'addToCart(' + ${book.id} + ')'">Ajouter au panier</button>
                </td>
            </tr>
            </tbody>
        </table>
        <script>
            function addToCart(id){
                let ids = JSON.parse(localStorage.getItem("cart")) || [];
                ids.push(id);
                localStorage.setItem("cart", JSON.stringify(ids));
                majSizeCart();
            }
        </script>
    </div>

</body>
</html>
